.textarea {
  position: relative;
  display: flex;
  justify-content: center;

  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      right: 15px;
      top: 0;
      bottom: 0;
      width: 20px;
      background: url('../../../assets/icon/send.svg')center / contain no-repeat;
    }
  }

  &__body {
    padding: 10px 30px;
    border: 1px solid #a3a3ac;
    border-radius: 20px;
    width: 100%;
  }
}